
.calcbutton {
    background: green !important;
    align-content: center !important;
    margin-left: 40% !important;
    margin-right: 40% !important;
    color: lightgrey !important;
    padding: 0px !important;
    overflow: none !important;
    width: 150px;
  }
.calcbutton:hover {
    background: darkgreen !important;
  }

.form {
  align-content: center !important;
  margin-left: 40% !important;
  margin-right: 40% !important;
  padding: 0px !important;
}
